package $packageName;

import org.apache.commons.lang.builder.EqualsBuilder;
import org.apache.commons.lang.builder.HashCodeBuilder;

#set ($type1 = $templateTypes.get(0))
#set ($type2 = $templateTypes.get(1))
#set ($classTag = "Pair")
#set ($className = $utility.getAnnotatedClassName($classTag, $templateTypes, $genericTypes))
#set ($basicName = $utility.getClassName($classTag, $templateTypes, $genericTypes))

/**
 * This class implements a pair (a, b), where a is a $type1 and b 
 * is a $type2. Note that any instance of this class is immutable, and
 * implements value semantics.
 * 
 * @author Andrew Tausz
 *
 */
public class $className {
	/*
	 * Make the fields first and second final to maintain immutability.
	 */
	protected final $type1 first;
	protected final $type2 second;
	
	/**
	 * Constructor which initializes the pair.
	 * 
	 * @param first the value of the first component
	 * @param second the value of the second component
	 */
	public $basicName($type1 first, $type2 second) {
		this.first = first;
		this.second = second;
	}
	
	/**
	 * Constructor which initializes from another $className.
	 * 
	 * @param pair the $className to initialize from
	 */
	public $basicName($className pair) {
		this.first = pair.first;
		this.second = pair.second;
	}
	
	/**
	 * Get the first component.
	 * 
	 * @return the first component
	 */
	public $type1 getFirst() {
		return this.first;
	}
	
	/**
	 * Get the second component.
	 * 
	 * @return the second component
	 */
	public $type2 getSecond() {
		return this.second;
	}
	
	@Override
	public String toString() {
		return ("(" + first + ", " + second + ")");
	}
	
	@Override
	public int hashCode() {
		return new HashCodeBuilder(17, 37).append(first).append(second).toHashCode();
	}
	
	@Override
	public boolean equals(Object obj) {
		if (this == obj)
			return true;
		if (obj == null)
			return false;
		if (getClass() != obj.getClass())
			return false;
		final $utility.getWildcardClassName($classTag, $templateTypes, $genericTypes) other = ($utility.getWildcardClassName($classTag, $templateTypes, $genericTypes)) obj;
		return new EqualsBuilder().append(first, other.first).append(second, other.second).isEquals();
	}
}