package $packageName;

#if ($type1 == "boolean")

#include("templates/formal_sum/boolean/BooleanGenericAbstractFormalSum.java");
#stop

#end

#set ($coefficientType = $type1)
#set ($objectType = "M")
#set ($className = $utility.getFullClassName("AbstractFormalSum", $coefficientType, $objectType))

public interface $className {
	void put($coefficientType coefficient, $objectType object);
	void remove($objectType object);
	
	boolean containsObject($objectType object);
	$coefficientType getCoefficient($objectType object);
	
	int size();
	boolean isEmpty();
}