package $packageName;

#set ($type = $templateTypes.get(0))
#set ($className = $utility.getAnnotatedClassName("Iterator", $templateTypes, $genericTypes))

public interface $className {
	boolean hasNext();
	$type next();
	void remove();
}