package $packageName;

#if ($type == "boolean")

#include("templates/matrix/boolean/BooleanAbstractVector.java");
#stop

#end

import java.util.Iterator;

#set ($type = $templateTypes.get(0))
#set ($className = $utility.getAnnotatedClassName("AbstractVector", $templateTypes, $genericTypes))
#set ($pairClassName = $utility.getAnnotatedClassName("VectorEntry", $templateTypes, $genericTypes))

public interface $className extends Iterable<$pairClassName> {
	public abstract $className like(int size);
	
	public abstract $type get(int index);
	public abstract void set(int index, $type value);
	public abstract int getLength();
	
	#if ($utility.isPrimitive($type))
	public abstract $type innerProduct($className other);
	#end
	
	public abstract String toString();
}