package $packageName;

import java.util.Iterator;

#set ($superName = $utility.getFullClassName("AbstractVector", $type))
#set ($className = $utility.getFullClassName("SparseVector", $type))
#set ($basicName = $utility.getClassName("SparseVector", $type))
#set ($iteratorClassName = $utility.getFullClassName("SparseVectorIterator", $type))
#set ($pairClassName = $utility.getFullClassName("UnorderedPair", "int", $type))
#set ($troveContainerName = $utility.getTroveMapName("int", $type) + $utility.generateGenericAnnotation($type))
#set ($troveIteratorName = $utility.getTroveIteratorName("int", $type) + $utility.generateGenericAnnotation($type))

public class $className implements $superName {
	protected final $troveContainerName map = new $troveContainerName();
	protected final int size;
	
	public $basicName(int size) {
		this.size = size;
	}
	
	public $basicName($type[] array) {
		this.size = array.length;
		for (int i = 0; i < size; i++) {
			#if ($utility.isPrimitive($type))
			if (array[i] == 0) {
				continue;
			}
			#else
			if (array[i] == null) {
				continue;
			}
			#end
			this.map.put(i, array[i]);
		}
	}
	
	public $superName like(int size) {
		return new $className(size);
	}
	
	public int getNumNonzeroElements() {
		return this.map.size();
	}
	
	public double getDensity() {
		return ((double) this.getNumNonzeroElements()) / ((double) (size));
	}
	
	public void set(int index, $type value) {
		#if ($utility.isPrimitive($type))
		if (value == 0) {
		#else
		if (value == null) {
		#end
			this.map.remove(index);
		}
		this.map.put(index, value);
	}
	
	public $type get(int index) {
		return this.map.get(index);
	}
	
	public int getLength() {
		return this.size;
	}
	
	#if ($utility.isPrimitive($type))
	public $type innerProduct($className other) {
		$type sum = 0;
		$className smaller = (this.map.size() < other.map.size() ? this : other);
		$className larger = (this.map.size() < other.map.size() ? other : this);
		
		for ($troveIteratorName iterator = smaller.map.iterator(); iterator.hasNext(); ) {
			iterator.advance();
			sum += iterator.value() * larger.get(iterator.key());
		}
		
		return sum;
	}
	
	public $type innerProduct($type[] other) {
		$type sum = 0;
		for ($troveIteratorName iterator = this.map.iterator(); iterator.hasNext(); ) {
			iterator.advance();
			sum += iterator.value() * other[iterator.key()];
		}
		return sum;
	}
	
	public $type innerProduct($superName other) {
		if (other instanceof $className) {
			return this.innerProduct(($className) other);
		}
		$type sum = 0;
		for ($troveIteratorName iterator = this.map.iterator(); iterator.hasNext(); ) {
			iterator.advance();
			sum += iterator.value() * other.get(iterator.key());
		}
		return sum;
	}
	#ends.getDimension()
	
	public Iterator<$pairClassName> iterator() {
		return new $iteratorClassName(this);
	}
	
	public String toString() {
		StringBuilder builder = new StringBuilder();
		int index = 0;
		builder.append("[");
		for ($pairClassName pair: this) {
			if (index > 0) {
				builder.append(", ");
			}
			builder.append(pair.getFirst());
			builder.append(": ");
			builder.append(pair.getSecond());
			index++;
		}
		builder.append("]");
		
		return builder.toString();
	}
	
	public void write(Writer writer) throws IOException {
		int index = 0;
		writer.write("[");
		for ($pairClassName pair: this) {
			if (index > 0) {
				writer.append(", ");
			}
			writer.write(pair.getFirst());
			writer.write(": ");
			writer.write(pair.getSecond());
			index++;
		}
		writer.write("]");
	}
	
	#if ($utility.isPrimitive($type))
	
	public $type[] toArray() {
		$type[] array = new $coefficientType[this.size];
		
		for ($pairClassName pair: this) {
			array[pair.getFirst()] = pair.getSecond();
		}
		
		return array;
	}
	
	#end
}