package $packageName;

import java.util.Iterator;

#set ($type = $templateTypes.get(0))
#set ($className = $utility.getAnnotatedClassName("SparseVector", $templateTypes, $genericTypes))
#set ($superName = $utility.getAnnotatedClassName("AbstractVector", $templateTypes, $genericTypes))
#set ($basicName = $utility.getClassName("SparseVector", $templateTypes, $genericTypes))
#set ($pairClassName = $utility.getAnnotatedClassName("VectorEntry", $templateTypes, $genericTypes))
#set ($iteratorClassName = $utility.getAnnotatedClassName("SparseVectorIterator", $templateTypes, $genericTypes))
#set ($mapType = $utility.getMapType("int", $type) + $utility.getGenericAnnotation(["int", $type], []))
#set ($iteratorType = $utility.getMapIteratorType("int", $type) + $utility.getGenericAnnotation(["int", $type], []))

#if ($type == "boolean")

#include("templates/matrix/boolean/BooleanSparseVector.java");
#stop

#end

/**
 * This class provides a sparse vector implementation of the interface $superName.
 * It only stores non-zero entries thus is suited for applications where the dimension of the
 * vector is large, but most of the elements are zero.
 * 
 * @author autogen
 *
 * @param <$type>
 */
public class $className implements $superName {
	/**
	 * This hash map stores the index -> value mappings. It is designed for
	 * fast lookups.
	 */
	protected final $mapType map = new $mapType();
	
	/**
	 * This is the size (or dimension) of the vector. Note that this is not the
	 * actual number of entries, but is merely one past the maximum allowable index.
	 */
	protected final int size;
	
	/**
	 * This constructor initializes the vector have the specified size.
	 * 
	 * @param size the size to initialize to
	 */
	public $basicName(int size) {
		this.size = size;
	}
	
	/**
	 * This constructor initializes the vector with the contents of the
	 * given array.
	 * 
	 * @param array the array to initialize with
	 */
	public $basicName($type[] array) {
		this.size = array.length;
		for (int i = 0; i < size; i++) {
			if (array[i] == $utility.getDefaultElement($type)) {
				continue;
			}
			this.map.put(i, array[i]);
		}
	}

	public $superName like(int size) {
		return new $className(size);
	}
	
	/**
	 * This function gets the number of non-zero elements in the vector.
	 * 
	 * @return the number of non-zero entries
	 */
	public int getNumNonzeroElements() {
		return this.map.size();
	}
	
	/**
	 * This function returns the density (number of non-zero entries / size) of the vector.
	 * 
	 * @return the density of the vector
	 */
	public double getDensity() {
		return ((double) this.getNumNonzeroElements()) / ((double) (size));
	}
	
	public void set(int index, $type value) {
		if (value == $utility.getDefaultElement($type)) {
			this.map.remove(index);
		} else {
			this.map.put(index, value);
		}
	}
	
	public $type get(int index) {
		return this.map.get(index);
	}
	
	public int getLength() {
		return this.size;
	}
	
	#if ($utility.isPrimitive($type))
	
	/**
	 * This function compute the inner product of the current vector with the given
	 * sparse vector. The reason for the existence of this function is that it can be 
	 * performed in time on the order of the minimum of the number of non-zero entries
	 * of the two vectors.
	 * 
	 * @param other the sparse vector to compute the inner product with
	 * @return the inner product of this with the given sparse vector
	 */
	public $type innerProduct($className other) {
		$type sum = 0;
		$className smaller = (this.map.size() < other.map.size() ? this : other);
		$className larger = (this.map.size() < other.map.size() ? other : this);
		
		for ($iteratorType iterator = smaller.map.iterator(); iterator.hasNext(); ) {
			iterator.advance();
			sum += iterator.value() * larger.get(iterator.key());
		}
		
		return sum;
	}
	
	/**
	 * This function computes the inner product of the current vector with the given array.
	 * 
	 * @param other the array to compute the inner product with
	 * @return the inner product of this with the given array
	 */
	public $type innerProduct($type[] other) {
		$type sum = 0;
		for ($iteratorType iterator = this.map.iterator(); iterator.hasNext(); ) {
			iterator.advance();
			sum += iterator.value() * other[iterator.key()];
		}
		return sum;
	}

	public $type innerProduct($superName other) {
		if (other instanceof $className) {
			return this.innerProduct(($className) other);
		}
		$type sum = 0;
		for ($iteratorType iterator = this.map.iterator(); iterator.hasNext(); ) {
			iterator.advance();
			sum += iterator.value() * other.get(iterator.key());
		}
		return sum;
	}
	#end
	
	public Iterator<$pairClassName> iterator() {
		return new $iteratorClassName(this);
	}

	public String toString() {
		StringBuilder builder = new StringBuilder();
		int index = 0;
		builder.append("[");
		for ($pairClassName pair: this) {
			if (index > 0) {
				builder.append(", ");
			}
			builder.append(pair.getIndex());
			builder.append(": ");
			builder.append(pair.getValue());
			index++;
		}
		builder.append("]");
		
		return builder.toString();
	}
	
	/**
	 * This function writes the contents of the vector to a given Writer object.
	 * 
	 * @param writer the Writer object to write to
	 * @throws IOException
	 */
	public void write(Writer writer) throws IOException {
		int index = 0;
		writer.write("[");
		for ($pairClassName pair: this) {
			if (index > 0) {
				writer.append(", ");
			}
			writer.write(pair.getIndex());
			writer.write(": ");
			#if ($utility.isPrimitive($type))
			writer.write($utility.getBoxedName($type) .toString(pair.getValue()));
			#else
			writer.write(pair.getValue().toString());
			#end
			index++;
		}
		writer.write("]");
	}
	
	#if ($utility.isPrimitive($type))
	
	/**
	 * This function converts the vector to a (dense) array.
	 * 
	 * @return an array with the contents of the vector
	 */
	public $type[] toArray() {
		$type[] array = new $type[this.size];
		
		for ($pairClassName pair: this) {
			array[pair.getIndex()] = pair.getValue();
		}
		
		return array;
	}
	
	#end
}