package $packageName;

import java.util.Iterator;

#set ($type = $templateTypes.get(0))
#set ($classTag = "SparseMatrix")
#set ($className = $utility.getAnnotatedClassName("SparseMatrix", $templateTypes, $genericTypes))
#set ($basicName = $utility.getClassName("SparseMatrix", $templateTypes))
#set ($superName = $utility.getAnnotatedClassName("AbstractMatrix", $templateTypes, $genericTypes))
#set ($entryClassName = $utility.getAnnotatedClassName("MatrixEntry", $templateTypes, $genericTypes))
#set ($vectorClassName = $utility.getAnnotatedClassName("SparseVector", $templateTypes, $genericTypes))
#set ($superVectorClassName = $utility.getAnnotatedClassName("AbstractVector", $templateTypes, $genericTypes))
#set ($iteratorClassName = $utility.getAnnotatedClassName("SparseMatrixIterator", $templateTypes, $genericTypes))

#set ($mapType = $utility.getMapType("int", "Object"))
#set ($iteratorType = $utility.getMapIteratorType("int", "Object"))

#if ($type == "boolean")

#include("templates/matrix/boolean/BooleanSparseMatrix.java");
#stop

#end

/**
 * This class provides a sparse-matrix implementation of the $superName
 * interface. It only stores non-zero elements, and is therefore suited for applications
 * where most of the entries in the matrix are zero.
 * 
 * @author autogen
 *
 */
public class $className implements $superName {
	/**
	 * We use a row-wise storage scheme. The variable map stores
	 * the rows of the matrix on an as-needed basis. Each row is a 
	 * $vectorClassName. This choice was made so that matrix-vector
	 * products can be computed very quickly.
	 */
	protected final $mapType<$vectorClassName> map = new $mapType<$vectorClassName>();

	/**
	 * The number of rows in the matrix.
	 */
	protected final int rows;

	/**
	 * The number of columns in the matrix.
	 */
	protected final int columns;

	/**
	 * This constructor initializes the class with the specified number
	 * of rows and columns.
	 * 
	 * @param rows the number of rows in the matrix
	 * @param columns the number of columns in the matrix
	 */
	public $basicName(int rows, int columns) {
		this.rows = rows;
		this.columns = columns;
	}
	
	public $type get(int row, int column) {
		if (!this.map.contains(row)) {
			return $utility.getDefaultElement($type);
		}
		return this.map.get(row).get(column);
	}

	public int getNumColumns() {
		return this.columns;
	}

	public int getNumRows() {
		return this.rows;
	}

	public Iterator<$entryClassName> iterator() {
		return new $iteratorClassName(this);
	}

	public $superName like(int rows, int columns) {
		return new $className(rows, columns);
	}
	
	/**
	 * This function returns the number of non-zero elements in the matrix.
	 * 
	 * @return the number of non-zero elements
	 */
	public int getNumNonzeroElements() {
		int num = 0;
		for ($iteratorType<$vectorClassName> iterator = this.map.iterator(); iterator.hasNext(); ) {
			iterator.advance();
			num += iterator.value().getNumNonzeroElements();
		}
		return num;
	}

	#if ($utility.isPrimitive($type))
	public $superVectorClassName multiply($superVectorClassName vector) {
		$superVectorClassName result = new $vectorClassName(this.rows);
		$type innerProductValue = 0;
		for ($iteratorType<$vectorClassName> iterator = this.map.iterator(); iterator.hasNext(); ) {
			iterator.advance();
			innerProductValue = iterator.value().innerProduct(vector);
			if (innerProductValue != 0) {
				result.set(iterator.key(), innerProductValue);
			}
		}
		
		return result;
	}
	#end

	public void set(int row, int column, $type value) {
		if (value == $utility.getDefaultElement($type)) {
			if (!this.map.contains(row)) {
				return;
			} else {
				this.map.remove(column);
			}
		} else {
			if (!this.map.contains(row)) {
				this.map.put(row, new $vectorClassName(this.columns));
			}
			this.map.get(row).set(column, value);
		}
	}
	
	/**
	 * This function computes the transpose of the matrix.
	 * 
	 * @return the transpose of the matrix
	 */
	public $className transpose() {
		$className result = new $className(columns, rows);
		
		for ($entryClassName entry: this) {
			result.set(entry.getCol(), entry.getRow(), entry.getValue());
		}
		
		return result;
	}
	
	public String toString() {
		StringBuilder builder = new StringBuilder();
		builder.append("[");
		int count = 0;
		for ($entryClassName entry: this) {
			if (count > 0) {
				builder.append(", ");
			}
			builder.append("(" + entry.getRow() + ", " + entry.getCol() + "): " + entry.getValue());
			count++;
		}
		builder.append("]");
		return builder.toString();
	}
	
	public int[] getRows() {
		int numNonZeroEntries = this.getNumNonzeroElements();
		int[] rows = new int[numNonZeroEntries];
		
		int index = 0;
		for ($entryClassName entry: this) {
			rows[index++] = entry.getRow();
		}
		
		return rows;
	}
	
	public int[] getColumns() {
		int numNonZeroEntries = this.getNumNonzeroElements();
		int[] cols = new int[numNonZeroEntries];
		
		int index = 0;
		for ($entryClassName entry: this) {
			cols[index++] = entry.getCol();
		}
		
		return cols;
	}
	
	#if ($utility.isPrimitive($type))
	public $type[] getValues() {
		int numNonZeroEntries = this.getNumNonzeroElements();
		$type[] values = new $type[numNonZeroEntries];
		
		int index = 0;
		for ($entryClassName entry: this) {
			values[index++] = entry.getValue();
		}
		
		return values;
	}
	#end
	
	@Override
	public int hashCode() {
		final int prime = 31;
		int result = 1;
		result = prime * result + columns;
		result = prime * result + ((map == null) ? 0 : map.hashCode());
		result = prime * result + rows;
		return result;
	}

	@Override
	public boolean equals(Object obj) {
		if (this == obj)
			return true;
		if (obj == null)
			return false;
		if (getClass() != obj.getClass())
			return false;
		$utility.getWildcardClassName($classTag, $templateTypes, $genericTypes) other = ($utility.getWildcardClassName($classTag, $templateTypes, $genericTypes)) obj;
		if (columns != other.columns)
			return false;
		if (map == null) {
			if (other.map != null)
				return false;
		} else if (!map.equals(other.map))
			return false;
		if (rows != other.rows)
			return false;
		return true;
	}
}