package $packageName;

#if ($type == "boolean")

#include("templates/matrix/boolean/BooleanSparseMatrixIterator.java");
#stop

#end

import java.util.Iterator;

#set ($type = $templateTypes.get(0))
#set ($className = $utility.getAnnotatedClassName("SparseMatrix", $templateTypes, $genericTypes))
#set ($superName = $utility.getAnnotatedClassName("AbstractMatrix", $templateTypes, $genericTypes))
#set ($entryClassName = $utility.getAnnotatedClassName("MatrixEntry", $templateTypes, $genericTypes))
#set ($vectorClassName = $utility.getAnnotatedClassName("SparseVector", $templateTypes, $genericTypes))
#set ($iteratorClassName = $utility.getAnnotatedClassName("SparseMatrixIterator", $templateTypes, $genericTypes))
#set ($basicIteratorClassName = $utility.getClassName("SparseMatrixIterator", $templateTypes, $genericTypes))
#set ($internalIteratorName = $utility.getMapIteratorType("int", "Object"))

public class $iteratorClassName implements Iterator<$entryClassName> {
	private final $internalIteratorName<$vectorClassName> rowIterator;
	private Iterator<$vectorEntryClassName> columnIterator;
	
	$basicIteratorClassName($className matrix) {
		this.rowIterator = matrix.map.iterator();
		this.rowIterator.advance();
		this.columnIterator = this.rowIterator.value().iterator();
	}
	
	public boolean hasNext() {
		if (this.rowIterator.hasNext()) {
			return true;
		} else {
			return this.columnIterator.hasNext();
		}
	}

	public $entryClassName next() {
		if (!columnIterator.hasNext()) {
			// advance to the next row
			this.rowIterator.advance();
			this.columnIterator = this.rowIterator.value().iterator();
			
		}
		int row = rowIterator.key();
		$vectorEntryClassName columnValuePair = columnIterator.next();
		int column = columnValuePair.getFirst();
		$type value = columnValuePair.getSecond();
		return new $entryClassName(row, column, value);
	}

	public void remove() {
		this.columnIterator.remove();
	}
}