package $packageName;

import java.util.Iterator;

#set ($type = $templateTypes.get(0))
#set ($className = $utility.getAnnotatedClassName("SparseVector", $templateTypes, $genericTypes))
#set ($superName = $utility.getAnnotatedClassName("AbstractVector", $templateTypes, $genericTypes))
#set ($basicName = $utility.getClassName("SparseVector", $templateTypes, $genericTypes))
#set ($pairClassName = $utility.getAnnotatedClassName("VectorEntry", $templateTypes, $genericTypes))
#set ($iteratorClassName = $utility.getAnnotatedClassName("SparseVectorIterator", $templateTypes, $genericTypes))
#set ($mapType = $utility.getMapType("int", $type) + $utility.getGenericAnnotation(["int", $type], []))
#set ($iteratorType = $utility.getMapIteratorType("int", $type) + $utility.getGenericAnnotation(["int", $type], []))

#if ($type == "boolean")

#include("templates/matrix/boolean/BooleanSparseVector.java");
#stop

#end

public class $className implements $superName {
	protected final $mapType map = new $mapType();
	protected final int size;
	
	public $basicName(int size) {
		this.size = size;
	}
	
	public $basicName($type[] array) {
		this.size = array.length;
		for (int i = 0; i < size; i++) {
			if (array[i] == $utility.getDefaultElement($type)) {
				continue;
			}
			this.map.put(i, array[i]);
		}
	}
	
	public $superName like(int size) {
		return new $className(size);
	}
	
	public int getNumNonzeroElements() {
		return this.map.size();
	}
	
	public double getDensity() {
		return ((double) this.getNumNonzeroElements()) / ((double) (size));
	}
	
	public void set(int index, $type value) {
		if (value == $utility.getDefaultElement($type)) {
			this.map.remove(index);
		} else {
			this.map.put(index, value);
		}
	}
	
	public $type get(int index) {
		return this.map.get(index);
	}
	
	public int getLength() {
		return this.size;
	}
	
	#if ($utility.isPrimitive($type))
	public $type innerProduct($className other) {
		$type sum = 0;
		$className smaller = (this.map.size() < other.map.size() ? this : other);
		$className larger = (this.map.size() < other.map.size() ? other : this);
		
		for ($iteratorType iterator = smaller.map.iterator(); iterator.hasNext(); ) {
			iterator.advance();
			sum += iterator.value() * larger.get(iterator.key());
		}
		
		return sum;
	}
	
	public $type innerProduct($type[] other) {
		$type sum = 0;
		for ($iteratorType iterator = this.map.iterator(); iterator.hasNext(); ) {
			iterator.advance();
			sum += iterator.value() * other[iterator.key()];
		}
		return sum;
	}
	
	public $type innerProduct($superName other) {
		if (other instanceof $className) {
			return this.innerProduct(($className) other);
		}
		$type sum = 0;
		for ($iteratorType iterator = this.map.iterator(); iterator.hasNext(); ) {
			iterator.advance();
			sum += iterator.value() * other.get(iterator.key());
		}
		return sum;
	}
	#end
	
	public Iterator<$pairClassName> iterator() {
		return new $iteratorClassName(this);
	}
	
	public String toString() {
		StringBuilder builder = new StringBuilder();
		int index = 0;
		builder.append("[");
		for ($pairClassName pair: this) {
			if (index > 0) {
				builder.append(", ");
			}
			builder.append(pair.getIndex());
			builder.append(": ");
			builder.append(pair.getValue());
			index++;
		}
		builder.append("]");
		
		return builder.toString();
	}
	
	public void write(Writer writer) throws IOException {
		int index = 0;
		writer.write("[");
		for ($pairClassName pair: this) {
			if (index > 0) {
				writer.append(", ");
			}
			writer.write(pair.getIndex());
			writer.write(": ");
			#if ($utility.isPrimitive($type))
			writer.write($utility.getBoxedName($type) .toString(pair.getValue()));
			#else
			writer.write(pair.getValue().toString());
			#end
			index++;
		}
		writer.write("]");
	}
	
	#if ($utility.isPrimitive($type))
	
	public $type[] toArray() {
		$type[] array = new $type[this.size];
		
		for ($pairClassName pair: this) {
			array[pair.getIndex()] = pair.getValue();
		}
		
		return array;
	}
	
	#end
}