package $packageName;

import org.apache.commons.lang.builder.EqualsBuilder;
import org.apache.commons.lang.builder.HashCodeBuilder;

#set ($type = $templateTypes.get(0))
#set ($classTag = "VectorEntry")
#set ($className = $utility.getAnnotatedClassName($classTag, $templateTypes, $genericTypes))
#set ($basicName = $utility.getClassName($classTag, $templateTypes, $genericTypes))

#if ($type == "boolean")

#include("templates/matrix/boolean/BooleanVectorEntry.java");
#stop

#end

/**
 * This class implements the functionality of an entry in a sparse vector. 
 * It can be thought of as a pair (index, value).
 * 
 * @author autogen
 *
 * @param <$type>
 */
public class $className {
	/**
	 * Stores the index of the entry.
	 */
	private final int index;
	
	/**
	 * Stores the value.
	 */
	private final $type value;
	
	/**
	 * Constructor which initializes the entry with the specified index and value.
	 * 
	 * @param index
	 * @param value
	 */
	public $basicName(int index, $type value) {
		this.index = index;
		this.value = value;
	}
	
	/**
	 * Gets the index of the entry.
	 * 
	 * @return the index
	 */
	public int getIndex() {
		return this.index;
	}

	/**
	 * Gets the value of the entry.
	 * 
	 * @return the value
	 */
	public $type getValue() {
		return this.value;
	}
	
	@Override
	public String toString() {
		return ("(" + index + ", " + value + ")");
	}
	
	@Override
	public int hashCode() {
		return new HashCodeBuilder(17, 37).append(index).append(value).toHashCode();
	}
	
	@Override
	public boolean equals(Object obj) {
		if (this == obj)
			return true;
		if (obj == null)
			return false;
		if (getClass() != obj.getClass())
			return false;
		final $utility.getWildcardClassName($classTag, $templateTypes, $genericTypes) other = ($utility.getWildcardClassName($classTag, $templateTypes, $genericTypes)) obj;
		return new EqualsBuilder().append(index, other.index).append(value, other.value).isEquals();

	}
}