package $packageName;

import java.util.Iterator;

#set ($superName = $utility.getClassName("AbstractVector", $type))
#set ($className = $utility.getClassName("SparseVector", $type))
#set ($iteratorClassName = $utility.getClassName("SparseVectorIterator", $type))
#set ($pairClassName = $utility.getClassName("Pair", "int", $type))
#set ($troveContainerName = $utility.getTroveMapName("int", $type))
#set ($troveIteratorName = $utility.getTroveIteratorName("int", $type))

public class $iteratorClassName implements Iterator<$pairClassName> {
	private final $troveIteratorName iterator;
	
	public $iteratorClassName($className vector) {
		this.iterator = vector.map.iterator();
	}
	
	public boolean hasNext() {
		return this.iterator.hasNext();
	}

	public $pairClassName next() {
		return new $pairClassName(this.iterator.key(), this.iterator.value());
	}

	public void remove() {
		this.iterator.remove();
	}
}