package $packageName;

import org.apache.commons.lang.builder.EqualsBuilder;
import org.apache.commons.lang.builder.HashCodeBuilder;

#set ($className = $utility.getClassName("Pair", $type1, $type2))

/**
 * This class implements a pair (a, b), where d is a $type1 and l 
 * is a $type2. Note that any instance of this class is immutable, and
 * implements value semantics.
 * 
 * @author Andrew Tausz
 *
 */
public class $className$utility.generateGenericAnnotation($type1, $type2) {
	/*
	 * Make the fields first and second final to maintain immutability.
	 */
	private final $type1 first;
	private final $type2 second;
	
	/**
	 * Constructor which initializes the pair.
	 * 
	 * @param first the value of the first component
	 * @param second the value of the second component
	 */
	public $className($type1 first, $type2 second) {
		this.first = first;
		this.second = second;
	}
	
	/**
	 * Constructor which initializes from another $className.
	 * 
	 * @param pair the $className to initialize from
	 */
	public $className($className$utility.generateGenericAnnotation($type1, $type2) pair) {
		this.first = pair.first;
		this.second = pair.second;
	}
	
	/**
	 * Get the first component.
	 * 
	 * @return the first component
	 */
	public $type1 getFirst() {
		return this.first;
	}
	
	/**
	 * Get the second component.
	 * 
	 * @return the second component
	 */
	public $type2 getSecond() {
		return this.second;
	}
	
	@Override
	public String toString() {
		return ("(" + first + ", " + second + ")");
	}
	
	@Override
	public int hashCode() {
		return new HashCodeBuilder(17, 37).append(first).append(second).toHashCode();
	}
	
	@Override
	public boolean equals(Object obj) {
		if (this == obj)
			return true;
		if (obj == null)
			return false;
		if (getClass() != obj.getClass())
			return false;
		final $className other = ($className$utility.generateGenericWildcards($type1, $type2)) obj;
		return new EqualsBuilder().append(first, other.first).append(second, other.second).isEquals();

	}
}