package $packageName;

#set ($type1 = $templateTypes.get(0))
#set ($type2 = $templateTypes.get(1))
#set ($classTag = "Function")
#set ($className = $utility.getAnnotatedClassName($classTag, $templateTypes, $genericTypes))
#set ($basicName = $utility.getClassName($classTag, $templateTypes, $genericTypes))

/**
 * This interface defines a function from type $type1 to type $type2.
 * 
 * @author autogen
 *
 */
public interface $className {
	/**
	 * This performs the function evaluation on an argument.
	 * 
	 * @param argument the argument of the function
	 * @return the function evaluated at the supplied argument value
	 */
	public $type2 evaluate($type1 argument);
}