package $packageName;

public class $utility.getClassName("ArrayMath", $type) {
	/*
	 * Vector operations
	 */
	
	public static $type[] negate($type[] vector) {
		int n = vector.length;
		$type[] result = new $type[n];
		for (int i = 0; i < n; i++) {
			result[i] = -vector[i];
		}
		return result;
	}
	
	public static $type[] sum($type[] vector1, $type[] vector2) {
		int n = vector1.length;
		$type[] result = new $type[n];
		for (int i = 0; i < n; i++) {
			result[i] = vector1[i] + vector2[i];
		}
		return result;
	}
	
	public static $type[] difference($type[] vector1, $type[] vector2) {
		int n = vector1.length;
		$type[] result = new $type[n];
		for (int i = 0; i < n; i++) {
			result[i] = vector1[i] - vector2[i];
		}
		return result;
	}
	
	public static $type[] componentwiseProduct($type[] vector1, $type[] vector2) {
		int n = vector1.length;
		$type[] result = new $type[n];
		for (int i = 0; i < n; i++) {
			result[i] = vector1[i] * vector2[i];
		}
		return result;
	}
	
	public static $type[] scalarAdd($type[] vector, $type scalar) {
		int n = vector.length;
		$type[] result = new $type[n];
		for (int i = 0; i < n; i++) {
			result[i] = vector[i] + scalar;
		}
		return result;
	}
	
	public static $type[] scalarMultiply($type[] vector, $type scalar) {
		int n = vector.length;
		$type[] result = new $type[n];
		for (int i = 0; i < n; i++) {
			result[i] = vector[i] * scalar;
		}
		return result;
	}
	
	public static void accumulate($type[] vector1, $type[] vector2) {
		int n = vector1.length;
		for (int i = 0; i < n; i++) {
			vector1[i] += vector2[i];
		}
	}
	
	public static void accumulate($type[] vector1, $type[] vector2, $type coefficient) {
		int n = vector1.length;
		for (int i = 0; i < n; i++) {
			vector1[i] += coefficient * vector2[i];
		}
	}
	
	public static void inPlaceMultiply($type[] vector, $type scalar) {
		int n = vector.length;
		for (int i = 0; i < n; i++) {
			vector[i] *= scalar;
		}
	}
	
	public static void inPlaceNegate($type[] vector) {
		int n = vector.length;
		for (int i = 0; i < n; i++) {
			vector[i] *= -1;
		}
	}
	
	/*
	 * Matrix Operations
	 */
	
	public static $type[][] sum($type[][] matrix1, $type[][] matrix2) {
		int m = matrix1.length;
		int n = matrix1[0].length;
		$type[][] result = new $type[m][n];
		for (int i = 0; i < m; i++) {
			for (int j = 0; j < n; j++) {
				result[i][j] = matrix1[i][j] + matrix2[i][j];
			}
		}
		return result;
	}
	
	public static $type[][] difference($type[][] matrix1, $type[][] matrix2) {
		int m = matrix1.length;
		int n = matrix1[0].length;
		$type[][] result = new $type[m][n];
		for (int i = 0; i < m; i++) {
			for (int j = 0; j < n; j++) {
				result[i][j] = matrix1[i][j] - matrix2[i][j];
			}
		}
		return result;
	}
	
	public static $type[][] componentwiseProduct($type[][] matrix1, $type[][] matrix2) {
		int m = matrix1.length;
		int n = matrix1[0].length;
		$type[][] result = new $type[m][n];
		for (int i = 0; i < m; i++) {
			for (int j = 0; j < n; j++) {
				result[i][j] = matrix1[i][j] * matrix2[i][j];
			}
		}
		return result;
	}
	
	public static $type[][] product($type[][] matrix1, $type[][] matrix2) {
		int m = matrix1.length;
		int n = matrix1[0].length;
		int p = matrix2[0].length;
		
		$type[][] result = new $type[m][p];
		for (int i = 0; i < m; i++) {
			for (int j = 0; j < p; j++) {
				for (int k = 0; k < n; k++) {
					result[i][j] += matrix1[i][k] * matrix2[k][j];
				}
			}
		}
		return result;
	}
	
	public static $type[] product($type[][] matrix, $type[] vector) {
		int m = matrix.length;
		int n = matrix[0].length;
		$type[] result = new $type[m];
		for (int i = 0; i < m; i++) {
			for (int j = 0; j < n; j++) {
				result[i] += matrix[i][j] * vector[j];
			}
		}
		return result;
	}
	
	public static $type[] product($type[] vector, $type[][] matrix) {
		int m = matrix.length;
		int n = matrix[0].length;
		$type[] result = new $type[n];
		for (int j = 0; j < n; j++) {
			for (int i = 0; i < m; i++) {
				result[j] += vector[i] * matrix[i][j];
			}
		}
		return result;
	}
	
	public static $type[][] transpose($type[][] matrix) {
		int m = matrix.length;
		int n = matrix[0].length;
		$type[][] result = new $type[n][m];
		for (int i = 0; i < m; i++) {
			for (int j = 0; j < n; j++) {
				result[j][i] = matrix[i][j];
			}
		}
		return result; 
	}
	
	public static double frobeniusNorm($type[][] matrix) {
		if (matrix.length == 0) {
			return 0;
		}
		$type sum = 0;
		$type entry = 0;
		int m = matrix.length;
		int n = matrix[0].length;
		for (int i = 0; i < m; i++) {
			for (int j = 0; j < n; j++) {
				entry = matrix[i][j];
				sum += entry * entry;
			}
		}
		return Math.sqrt(sum);
	}
	
	public static $type infinityNorm($type[][] matrix) {
		if (matrix.length == 0) {
			return 0;
		}
		$type max = 0;
		$type sum = 0;
		int m = matrix.length;
		int n = matrix[0].length;
		for (int i = 0; i < m; i++) {
			sum = 0;
			for (int j = 0; j < n; j++) {
				sum += Math.abs(matrix[i][j]);
			}
			if (sum > max) {
				max = sum;
			}
		}
		return max;
	}
	
	public static $type oneNorm($type[][] matrix) {
		return infinityNorm(transpose(matrix));
	}
	
	public static $type innerProduct($type[][] matrix1, $type[][] matrix2) {
		int m = matrix1.length;
		int n = matrix1[0].length;
		$type sum = 0;
		for (int i = 0; i < m; i++) {
			for (int j = 0; j < n; j++) {
				sum += matrix1[i][j] * matrix2[i][j];
			}
		}
		return sum;
	}
	
	public static $type trace($type[][] matrix) {
		if (matrix.length == 0) {
			return 0;
		}
		$type sum = 0;
		int m = Math.min(matrix.length, matrix[0].length);
		for (int i = 0; i < m; i++) {
			sum += matrix[i][i];
		}
		return sum;
	}
	
	public static void normalizeRows($type[][] matrix, $type p) {
		int m = matrix.length;
		if (m == 0) {
			return;
		}
		int n = matrix[0].length;
		double norm = 0;
		for (int i = 0; i < m; i++) {
			norm = norm(matrix[i], p);
			if (norm != 0) {
				for (int j = 0; j < n; j++) {
					matrix[i][j] /= norm;
				}
			}
		}
	}
	
	public static void normalizeRows($type[][] matrix) {
		int m = matrix.length;
		if (m == 0) {
			return;
		}
		int n = matrix[0].length;
		double norm = 0;
		for (int i = 0; i < m; i++) {
			norm = norm(matrix[i]);
			if (norm != 0) {
				for (int j = 0; j < n; j++) {
					matrix[i][j] /= norm;
				}
			}
		}
	}
	
	/*
	 * Componentwise functions
	 */
	
	public static $type[] abs($type[] vector) {
		int n = vector.length;
		$type[] result = new $type[n];
		for (int i = 0; i < n; i++) {
			result[i] = Math.abs(vector[i]);
		}
		return result;
	}
	
	public static double[] sqrt($type[] vector) {
		int n = vector.length;
		double[] result = new double[n];
		for (int i = 0; i < n; i++) {
			result[i] = Math.sqrt(vector[i]);
		}
		return result;
	}
	
	public static double[] log($type[] vector) {
		int n = vector.length;
		double[] result = new double[n];
		for (int i = 0; i < n; i++) {
			result[i] = Math.log(vector[i]);
		}
		return result;
	}
	
	public static double[] reciprocal($type[] vector) {
		int n = vector.length;
		double[] result = new double[n];
		for (int i = 0; i < n; i++) {
			if (vector[i] != 0) {
				result[i] = 1.0 / (double) vector[i];
			}
		}
		return result;
	}
	
	/*
	 * Aggregate functions
	 */
	
	public static $type max($type[] vector) {
		$type max = vector[0];
		int n = vector.length;
		for (int i = 0; i < n; i++) {
			if (vector[i] > max) { 
				max = vector[i];
			}
		}
		return max;
	}
	
	public static $type min($type[] vector) {
		$type min = vector[0];
		int n = vector.length;
		for (int i = 0; i < n; i++) {
			if (vector[i] < min) { 
				min = vector[i];
			}
		}
		return min;
	}
	
	public static $type sum($type[] vector) {
		$type sum = 0;
		for (int i = 0; i < vector.length; i++) {
			sum += vector[i];
		}
		return sum;
	}
	
	public static $type product($type[] vector) {
		$type product = 1;
		for (int i = 0; i < vector.length; i++) {
			product *= vector[i];
		}
		return product;
	}
	
	
	public static double mean($type[] vector) {
		if (vector.length == 0) {
			return 0;
		}
		return sum(vector) / (double) vector.length;
	}

	public static double standardDeviation($type[] array) {
		if (array.length <= 1) {
			return 0;
		}
		int n = array.length;
		double mean = mean(array);
		double sd = 0;
		for (int i = 0; i < n; i++) {
			sd += (array[i] - mean) * (array[i] - mean);
		}
		sd = Math.sqrt(sd / ((double) (n - 1)));
		return sd;
	}
	
	public static $type[] firstDifferences($type[] vector) {
		$type[] result = new $type[vector.length - 1];
		for (int i = 1; i < vector.length; i++) {
			result[i - 1] = vector[i] - vector[i - 1];
		}
		return result;
	}
	
	/**
	 * Returns the distance between x1 and x2 using the p-norm, where x1 and x2
	 * are vectors with the same number of components.
	 * 
	 * @param x1
	 * @param x2
	 * @param p
	 * @return
	 */
	public static double distance($type[] x1, $type[] x2, $type p) {
		double dist = 0;
		for (int i = 0; i < x1.length; i++) {
			dist += Math.pow(Math.abs(x1[i] - x2[i]), p);
		}
		dist = Math.pow(dist, 1.0 / p);
		return dist;
	}
	
	public static double distance($type[] x1, $type[] x2) {
		return Math.sqrt(squaredDistance(x1, x2));
	}
	
	public static $type squaredDistance($type[] point1, $type[] point2) {
		$type squaredDistance = 0;
		$type difference = 0;
		for (int i = 0; i < point1.length; i++) {
			difference = (point1[i] - point2[i]);
			squaredDistance += difference * difference;
		}
		return squaredDistance;
	}

	public static $type squaredDistance($type point1, $type point2) {
		$type difference = (point1 - point2);
		return difference * difference;
	}
	
	public static double norm($type[] vector, $type p) {
		int n = vector.length;
		$type norm = 0;
		for (int i = 0; i < n; i++) {
			norm += Math.pow(Math.abs(vector[i]), p);
		}
		return Math.pow(norm, 1.0 / p);
	}
	
	public static $type squaredNorm($type[] vector) {
		int n = vector.length;
		$type squaredNorm = 0;
		for (int i = 0; i < n; i++) {
			squaredNorm += vector[i] * vector[i];
		}
		return squaredNorm;
	}
	
	public static double norm($type[] vector) {
		return Math.sqrt(squaredNorm(vector));
	}
	
	public static double norm2($type[] vector) {
		return Math.sqrt(squaredNorm(vector));
	}
	
	public static $type norm1($type[] vector) {
		int n = vector.length;
		$type norm = 0;
		for (int i = 0; i < n; i++) {
			norm += Math.abs(vector[i]);
		}
		return norm;
	}
	
	public static $type normInfinity($type[] vector) {
		return max(abs(vector));
	}
	
	public static $type innerProduct($type[] vector1, $type[] vector2) {
		int n = vector1.length;
		$type innerProduct = 0;
		for (int i = 0; i < n; i++) {
			innerProduct += vector1[i] * vector2[i];
		}
		return innerProduct;
	}
}