package $packageName;

#set ($type = $templateTypes.get(0))
#set ($className = $utility.getAnnotatedClassName("ArrayUtility", $templateTypes, $genericTypes))


public class $className {
	public static $type[] createArray(int length) {
		return new $type[length];
	}
	
	public static $type[] createArray(int length, $type filler) {
		$type[] result = new $type[length];
		for (int i = 0; i < length; i++) {
			result[i] = filler;
		}
		return result;
	}

	public static $type[][] createMatrix(int rows, int columns) {
		$type[][] result = new $type[rows][];
		
		for (int i = 0; i < rows; i++) {
			result[i] = new $type[columns];
		}
		
		return result;
	}
	
	public static $type[][] createMatrix(int rows, int columns, $type filler) {
		$type[][] result = new $type[rows][];
		
		for (int i = 0; i < rows; i++) {
			result[i] = new $type[columns];
			for (int j = 0; j < columns; j++) {
				result[i][j] = filler;
			}
		}
		
		return result;
	}
	
	public static String toString($type[] array) {
		StringBuilder builder = new StringBuilder();
		builder.append('[');
		for (int i = 0; i < array.length; i++) {
			if (i > 0) {
				builder.append(", ");
			}
			builder.append(array[i]);
		}
		builder.append("]");
		return builder.toString();		
	}
	
	public static String toString($type[][] array) {
		StringBuilder builder = new StringBuilder();
		builder.append('[');
		for (int i = 0; i < array.length; i++) {
			for (int j = 0; j < array[i].length; j++) {
				if (j > 0) {
					builder.append(", ");
				}
				builder.append(array[i][j]);
			}
			builder.append(";\n");
		}
		builder.append("]\n");
		return builder.toString();
	}
	
	public static $type[][] toMatrix(Collection<$type[]> collection) {
        $type[][] result = new $type[collection.size()][];
        int index = 0;
        
        for ($type[] array: collection) {
                result[index++] = array;
        }
        
        return result;
    }
}